# Intellij
.idea/
*.iml
*.iws
*.ipr
*.class

# Maven
log/
target/
out/
build/
bin/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
@PhucNood
PhucNood commented on Sep 10, 2022

.mvn/

# Package Files #
*.jar
*.war
*.ear

*.log
*.tmp